.header {
  background-repeat: no-repeat;
  background-size: cover;
  height: 645px;
  transition: height 0.5s ease;

  p {
    font-size: 1.75rem;
  }
}

.btnLeft {
  left: 4.5vw;
  margin-top: 210px;
  position: absolute;
  z-index: 99999;
}

.btnRight {
  margin-top: 210px;
  position: absolute;
  right: 3.8vw;
  z-index: 99999;
}

.card {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-direction: column;
  height: 242.5px;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid #657187 !important;

  &:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 30%, rgba(255, 255, 255, 0.8) 40%, rgb(255, 255, 255) 50%);
  }
}

.contentNews {
  min-width: 155.5vw;
}

.divOpacity {
  background-color: #003243;
  height: 645px;
  left: 0px;
  margin: 0px;
  opacity: 0.65;
  padding: 0px;
  position: absolute;
  top: 0px;
  transition: height 0.5s ease;
  width: 100vw;
  z-index: 0;
}

.imgNew {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  min-height: 190px;
  max-height: 190px;
  object-fit: cover;
}

.blackAndWhite {
  filter: grayscale(100%);
}

.new {
  width: 22vw;
}

@media screen and (min-width: 1500px) {
  .contentNews {
    min-width: 142.5vw;
  }

  .new {
    width: 20vw;
  }
}

@media screen and (max-width: 1100px) {
  .contentNews {
    min-width: 235vw;
  }

  .new {
    width: 33vw;
  }
}

@media screen and (max-width: 900px) {
  .header {
    background-position: 75% 50%;
    background-size: cover;
  }

  .btnLeft {
    left: 5px;
  }

  .btnRight {
    right: 5px;
  }

  .card {
    height: 250px;
  }
}

@media screen and (max-width: 800px) {
  .contentNews {
    min-width: 285vw;
  }

  .new {
    width: 40vw;
  }
}

@media screen and (max-width: 500px) {
  .contentNews {
    min-width: 635vw;
  }

  .new {
    width: 90vw;
  }
}
