.footer {
  background-color: #FAFAFA;

  a {
    color: #000;
    text-decoration: none;

    &:hover {
      font-weight: 500;
    }

    p {
      font-size: 0.8rem;
    }
  }

  p:hover {
    cursor: pointer;
  }
}

.subtitleFooter {
  color: #000;
}
